# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
.env
venv/
.env.*
!env.example

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Mac/Windows
.DS_Store
Thumbs.db

# Secrets
service-account.json
